@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 95%;
  background-color: white;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --ucalgaryRed: "#D5011D";
  --ucalgaryGold: "#FCCB01";
  --ucalgaryLightOrange: "#FBA203";
  --ucalgaryDarkOrange: "#FC6721";
  --ucalgaryLightGrey: "#C8C9CB";
  --ucalgaryDarkGrey: "#6E6F71";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0;
}

a {
  cursor: pointer;
}

.gradient-head {
  background: -webkit-linear-gradient(135deg, #fc6721, #d5011d);
}

/* Don't get rid of this, very helpful for debugging */
/* * {
  border: red solid 1px;
} */
